*{
    padding: 0;
    margin: 0;
}

.navbar-section{
    background-color: rgb(255, 255, 255);
    padding: 40px 40px;
}

.navbar-section a{
    text-decoration: none;
    color: rgb(121, 120, 120);
    margin-left: 70px;
    align-content: center;
}

.navbar-section button{
    float : right;
    justify-content: flex-end;
}

.main-section img{
    width: 500px;
    height: 500px;
    justify-content: flex-end;
    position: absolute;
    top: 50px;
    right: 50px;
}

.cards-1{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
}

button {
    color: rgb(255, 255, 255);
    background-color: rgba(16, 194, 81, 0.962);
    width: 170px;
    height: 60px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.footer-section{
    background-color: rgb(35, 35, 54);
    padding: 30px;
}